<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <div class="inputArea">
        <!-- <input type="text" class="searchInput" />
        <input type="button" , onclick="add_search()" class="searchButton" /> -->
        <!-- </div> -->
        <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <input type="text" name="searchInput" placeholder="Enter keyword" class="searchInput">
            <br>
            <select name="search_type">
                <option value="AND">AND</option>
                <option value="OR">OR</option>
                <option value="NOT">NOT</option>
            </select>
            <br>
            <input type="submit" class="searchButton">
        </form>
    </div>
    <h1>Search Results</h1>
    
    {% if not query_result.empty %}
        {% for _, result in query_result.iterrows %}
            <div class="result">
                <h2>{{ result.headlines }}</h2>
                <p>{{ result.short_description }}</p>
                <a href="{{ result.url }}">{{ result.url }}</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No results found.</p>
    {% endif %}
</body>
</html>
