<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    
    {% if not query_result.empty %}
        {% for _, result in query_result.iterrows %}
            <div class="result">
                <h2>{{ result.headlines }}</h2>
                <p>{{ result.short_description }}</p>
                <a href="{{ result.url }}">{{ result.url }}</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No results found.</p>
    {% endif %}
</body>
</html>
