<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Cyberminer
            </a>
        </div>

    </nav>

    <br>
    <br>
    <div class="inputArea">
        <!-- <input type="text" class="searchInput" />
        <input type="button" , onclick="add_search()" class="searchButton" /> -->
        <!-- </div> -->

        <!-- <input type="text" name="searchInput" placeholder="Enter keyword" class="searchInput"> -->

        <div class="container-sm">
            <form action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3 search_bar">
                    <input type="text" name="searchInput" class="form-control" placeholder="Enter keyword"
                        aria-describedby="button-addon1">
                    <button class="btn btn btn-info" type="submit" id="button-addon1">Search</button>
                </div>


                <div class="dropdown">
                    <select name="search_type" class="btn btn-outline-info dropdown-toggle heading_class" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <option value="AND">AND</option>
                        <option value="OR">OR</option>
                        <option value="NOT">NOT</option>
                    </select>

                    <select id="sortSelect" name="sort_by">
                        <option value="">Sort By</option>
                        <option value="alphabetical">Alphabetical</option>
                        <option value="frequently_accessed">Most Frequently Accessed</option>
                        <option value="payment">Per Payment</option>
                    </select>
                    <!-- <button class="btn btn-outline-info dropdown-toggle drop_btn" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Choose action
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" name="search_type" value="AND">AND</a></li>
            <li><a class="dropdown-item" name="search_type" value="OR">OR</a></li>
            <li><a class="dropdown-item" name="search_type" value="OR">NOT</a></li>
          </ul> -->
                </div>
                <!-- <div class="dropdown">
                    <select id="sortSelect" name="sort_by">
                        <option value="">Sort By</option>
                        <option value="alphabetical">Alphabetical</option>
                        <option value="frequently_accessed">Most Frequently Accessed</option>
                        <option value="payment">Per Payment</option>
                    </select>
                </div> -->
            </form>

        </div>
    </div>
    <div class="result-stats" style="padding-bottom: 10px; padding-top: 10px; padding-left: 112px;">
        About {{ total_results }} results
    </div>
    <div class="container-md search_container_style">
        <h5 class="search_container_style">Search Results</h5>

        {% if not query_result.empty %}
        {% for _, result in query_result.iterrows %}
        <div class="result">
            <table class="table">
                <h4>{{ result.headlines }}</h4>
                <a href="{{ result.url }}">{{ result.url }}</a>
                <p>{{ result.short_description }}</p>
                <br>
            </table>
            <!-- <h4>{{ result.headlines }}</h4>
                  <p>{{ result.short_description }}</p>
                  <a href="{{ result.url }}">{{ result.url }}</a>
                  <br> -->
        </div>
        {% endfor %}
        {% else %}
        <p>No results found.</p>
        {% endif %}
    </div>

    {% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <script>
        $(document).ready(function () {
            $("#searchInput").select2({
                ajax: {
                    url: "/search/",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            keyword: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1
            });
        });
    </script>
    {% endblock %}
</body>

</html>